In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns",None)

In [2]:
dftr=pd.read_csv("nlp_train.csv")
dfte=pd.read_csv("nlp_test.csv")

In [3]:
dftr.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
dfte.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

dftr.shape

In [5]:
dftr[dftr["target"] == 0]["text"].values[1]

'I love fruits'

In [6]:
from sklearn import feature_extraction
count_vectorizer = feature_extraction.text.CountVectorizer()

train_vector= count_vectorizer.fit_transform(dftr["text"])

test_vectors = count_vectorizer.transform(dfte["text"])
## let's get counts for the first 5 tweets in the data
##example_train_vectors = count_vectorizer.fit_transform(dftr["text"][0:5])
print(train_vector)

  (0, 1851)	1
  (0, 19774)	1
  (0, 7661)	1
  (0, 1852)	1
  (0, 12141)	1
  (0, 6379)	1
  (0, 18777)	1
  (0, 13681)	1
  (0, 15678)	1
  (0, 18669)	1
  (0, 2192)	1
  (0, 5490)	1
  (0, 14003)	1
  (1, 3843)	1
  (1, 16611)	1
  (1, 16266)	1
  (1, 11091)	1
  (1, 13122)	1
  (1, 7439)	1
  (1, 7652)	1
  (2, 7014)	1
  (2, 13936)	1
  (2, 13919)	1
  (2, 6909)	1
  (2, 13987)	1
  :	:
  (7611, 9967)	1
  (7611, 1670)	1
  (7611, 16895)	1
  (7611, 11518)	1
  (7611, 16086)	1
  (7611, 11421)	1
  (7611, 20675)	1
  (7611, 14733)	1
  (7611, 3904)	1
  (7611, 1968)	1
  (7611, 9718)	1
  (7612, 21262)	1
  (7612, 15606)	1
  (7612, 9170)	1
  (7612, 20606)	1
  (7612, 1434)	1
  (7612, 13391)	1
  (7612, 11187)	1
  (7612, 12698)	1
  (7612, 13195)	1
  (7612, 4517)	1
  (7612, 9304)	1
  (7612, 3797)	1
  (7612, 3698)	1
  (7612, 18669)	1

In [10]:
from sklearn import linear_model

clf = linear_model.RidgeClassifier()

In [11]:
from sklearn import model_selection
scores = model_selection.cross_val_score(clf, train_vector, dftr["target"], cv=3, scoring="f1")
scores

array([0.60387232, 0.57511962, 0.64485082])

In [12]:
clf.fit(train_vector, dftr["target"])

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
        max_iter=None, normalize=False, random_state=None, solver='auto',
        tol=0.001)

In [13]:
sample_submission = pd.read_csv("nlp_sample_submission.csv")

In [14]:
sample_submission["target"] = clf.predict(test_vectors)

In [15]:
sample_submission.head()

   id  target
0   0       0
1   2       1
2   3       1
3   9       0
4  11       1

In [16]:
sample_submission.to_csv("Final_nlp.csv",index=True)

In [17]:
from sklearn.linear_model import LogisticRegression
#Create a model object
classifier=LogisticRegression()

#Fitting training data to the model (Teaching the model)
classifier.fit(train_vector, dftr["target"])

#Y_pred=classifier.predict(X_test)
#print(list(zip(Y_test,Y_pred)))

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [18]:
sample_submission = pd.read_csv("nlp_sample_submission.csv")
sample_submission["target"] = classifier.predict(test_vectors)

In [19]:
sample_submission.head()

   id  target
0   0       1
1   2       1
2   3       1
3   9       0
4  11       1

In [20]:
sample_submission.to_excel("Log_nlp.xlsx",index=True)

In [21]:
from sklearn.ensemble import ExtraTreesClassifier
 
model=ExtraTreesClassifier(100,random_state=10)
#fit the model on the data and predict the values
model=model.fit(train_vector, dftr["target"])
 
#Y_pred=model.predict(X_test)

In [22]:
Bag1_sample_submission = pd.read_csv("nlp_sample_submission.csv")
Bag1_sample_submission["target"] = model.predict(test_vectors)

In [23]:
Bag1_sample_submission.head()

   id  target
0   0       0
1   2       1
2   3       1
3   9       0
4  11       1

In [24]:
Bag1_sample_submission.to_csv("Bag2_nlp.csv",index=True)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

##Creating model object
model_DT=DecisionTreeClassifier(criterion="gini", random_state=10)
##random_state is also given here coz in DT while in different iteration it can generated 
##same values for Two iteration to prevent it 



##Train the model
model_DT.fit(train_vector, dftr["target"])